<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-input
            placeholder="Buscar capital..."
            (onEnter)="buscar( $event )"
            (onDebounce)="sugerencias( $event )"></app-pais-input>
    </div>
</div>
<hr>
</div>

<div *ngIf="hayError" class="alert alert-danger">
    No se tiene coincidencias con {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
       <app-pais-tabla
       [envioPaises]="paises"></app-pais-tabla>
    </div>
</div>