<!-- <app-por-capital></app-por-capital>
<app-por-pais></app-por-pais>
<app-por-region></app-por-region>
<app-ver-pais></app-ver-pais> -->

<div class="row container mt-4">
    <div class="col-3">
       <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
       <router-outlet></router-outlet>
    </div>
</div>