<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let varPais of paises; let i = index"
        class="animate__animated animate__fadeIn animate__faster">
            <td>{{ i + 1 }}</td>
            <td>
                <img class="small-flag" [src]="varPais.flag" alt="" >
            </td>
            <td> {{ varPais.capital }}, {{ varPais.name }}</td>
            <td>{{ varPais.population | number}}</td>
            <td>
                <a [routerLink]="['/pais', varPais.alpha2Code]">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>