<div
    *ngIf="!pais; else divPais"
 class="alert alert-info">
    Espere por favor...
</div>

<ng-template #divPais>
  <div class="row">
    <div class="col">
        <h1>País: <small>{{pais.name}}</small></h1>
    </div>
  </div>

  <div class="row">
      <div class="col-4">
        <h3>Bandera</h3>
        <img [src]="pais.flag" class="img-thumbnail" alt="">
      </div>
      <div class="col">
          <h3>Información</h3>
          <ul class="list-group">
              <li class="list-group-item">
                 <strong>Población</strong> {{ pais.population | number}}
              </li>
              <li class="list-group-item">
                <strong>Código numérico</strong> {{ pais.numericCode}}
            </li>
            <li class="list-group-item">
                <strong>Código alpha</strong> {{ pais.alpha3Code}}
            </li>
          </ul>
      </div>
  </div>

  <h3>Traducciones</h3>
  <div class="row">
      <div class="col">
        <span class="badge bg-primary mr-1">{{pais.translations['es']}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations['ja']}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations['fa']}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations['fr']}}</span>
      </div>
  </div>

  <pre class="mt-5">
      {{ pais | json}}
  </pre>
</ng-template>


