<div class="animate__animated animate__fadeIn animate__faster">

   <h3>Buscar por región <small>{{ regionActiva | titlecase }}</small></h3>
   <hr>
   <h5>Selecione la región</h5>
   
   <div class="row">
       <div class="col">
          <!--  <button *ngFor="let region of regiones"
               class="btn btn-outline-primary"
               [class.btn-primary]="region === regionActiva"
               (click)="activarRegion(region)">
               {{region}}
           </button> -->
   
          <!--  <button *ngFor="let region of regiones"
               class="btn btn-outline-primary"
               [ngClass]="{
                   'btn-primary' : regionActiva === region,
                   'btn-outline-primary': regionActiva !== region
               }"
               (click)="activarRegion(region)">
               {{region}}
            </button> -->
   
            <!-- <button *ngFor="let region of regiones"
               [class]="(region === regionActiva) ? 'btn btn-primary' : 'btn btn-outline-primary'"
               (click)="activarRegion(region)">
               {{region}}
            </button> -->
   
            <button *ngFor="let region of regiones"
               [class]="getClaseCSS(region)"
               (click)="activarRegion(region)">
               {{region | titlecase}}
            </button>
   
       </div>
   </div>
   
   <div *ngIf="paisesRegion.length > 0" class="row">
       <div class="col">
          <app-pais-tabla
          [envioPaises]="paisesRegion"></app-pais-tabla>
       </div>
   </div>

</div>
