<form (ngSubmit)="buscar()" autocomplete="off">
   <!--  <input type="text"
            name="termino"
            class="form-control"
            placeholder="Buscar país..."
            (input)="teclaPresionada($event)"
            [(ngModel)]="termino"> -->
         <!-- <input type="text"
            name="termino"
            class="form-control"
            placeholder="Buscar país..."
            (input)="teclaPresionada()"
            [(ngModel)]="termino"> -->

            <input type="text"
            name="termino"
            class="form-control"
            [placeholder]="placeholder"
            (input)="teclaPresionada()"
            [(ngModel)]="termino">
</form>